<header class="header">
  <div class="header__logo">
    <img src="favicon.svg" class="header__logo__icon" alt="Champion Finder Logo" />
    <h1 class="header__logo__title">Champion Finder</h1>
  </div>
  <div class="header__buttons">
    <button class="header__buttons__button" routerLink="lol" routerLinkActive="header__buttons__button--active">
      League of Legends
    </button>
    <button class="header__buttons__button" routerLink="valorant" routerLinkActive="header__buttons__button--active">Valorant</button>
  </div>
</header>
